<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>NotchBrowser</string>
	<key>CFBundleExecutable</key>
	<string>NotchBrowser</string>
	<key>CFBundleIconFile</key>
	<string>NotchBrowser</string>
	<key>CFBundleIdentifier</key>
	<string>com.satoshi0817.NotchBrowser</string>
	<key>CFBundleName</key>
	<string>NotchBrowser</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.7</string>
	<key>CFBundleVersion</key>
	<string>22</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>次の予定までの時間をノッチに表示するために使います。</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
